
<h1 style="text-align:center"><%= image_tag("icon.png", width: "15%")%>Text Tagger</h1>
<br>
	
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title"> About </h3>
			</div>
			<p
			<ul class="list-group">
			<li class="list-group-item"></li>	
			 <li class="list-group-item" style="font-size:15px">Text Tagger is a machine learning-enabled web platform for managing, modeling and analyzing text data. With this platform, clients will be able to post and manage their data; staff can analyze clients' input with built-in models and help improve predicting outcomes; developers can utilize clients and staff's input to constantly improve backend models.</li>
   				<li class="list-group-item"></li>
   			</ul>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="panel panel-info">
			<div class="panel-heading"  id="sign_in_panel">
    			<h3 class="panel-title"> Login </h3>
			</div>
			<div class="panel-body">
				<%= form_tag("/sessions", method: 'post') do  %>
				    <div class="form-group">
						<%= label_tag :email, "Email" %>
						<%= text_field_tag :email, "", autofocus: true, class: 'form-control' %>
					</div>
				    <div class="form-group">
      					<%= label_tag :password, "Password" %>
      					<%= password_field_tag :password, "", class: 'form-control' %>
					</div>
					<%= submit_tag "Sign In", class: 'btn btn-info'%> 
					or  
					<%= link_to "Sign Up", "/users/new" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
