<div class="tab-content">
	<div id="account" class="tab-pane fade in active">
		<div class="col-sm-12">
			<h3 style="text-align:center">Account Summary <a href=<%= "/users/#{@user.id}/edit" %> class="glyphicon glyphicon-edit" style="color:#blue"> </a></h3>
			<%= form_tag("/users/#{@user.id}", method: 'patch', data: { confirm: "Are you sure? " }) do  %>
				<% if  @user.errors.full_messages.any? %>
					<ul class="bg-warning">
						<% @user.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				<% end %>
				<ul class="list-group">
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading"> Username </h4>
						<%= text_field_tag :name, @user.name, class: 'form-control' %>
					</a>
					<li href="#" class="list-group-item">
						<h4 class="list-group-item-heading"> Email </h4>
						<p class="list-group-item-text"> <%= @user.email %> </p>
					</li>

					<li href="#" class="list-group-item">
						<h4 class="list-group-item-heading"> Password </h4>
						<p class="list-group-item-text"> <%= @user.password  %> </p>
					</li>	

					<li href="#" class="list-group-item">
						<h4 class="list-group-item-heading"> Create Date </h4>
						<p class="list-group-item-text"> <%= @user.created_at %> </p>
					</li>					

				</ul>
				<div style="text-align:center">
					<%= submit_tag "Save", class: 'btn btn-danger' %>
					<%= link_to "Cancel", "/users/#{@user.id}", class: 'btn btn-default' %>
				</div>
			<% end %>
		</div>
	</div>
</div>