<div class="tab-content">
	<div id="reviews" class="tab-pane fade in show active">
		<div class="col-sm-12">
			<ul class="nav nav-pills">
				<li><a href="/reviews"> Dashboard </a></li>
				<li><a href="/reviews/new"> New Review </a></li>
			</ul>

<div class="page-header">
	<h3 style="color:black"><%= "#{@review.name}" %></h3>
	<div class="row">
		<div class="col-sm-4">
			<p style="font-size:14px"> <%= "Created by: #{@review.user.name}".html_safe %></p>
		</div>
		<div class="col-sm-8">
			<p style="font-size:14px"> <%= "Updated at: #{@review.updated_at.to_formatted_s(:long)}".html_safe %> </p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-10">
		<p> <%= @review.description %> </p>
	</div>
	<div class="col-sm-2">
		<div class="panel panel-default">
			<div class="panel-heading" align="center">
				<strong>MENU</strong>
			</div>
			<div class="panel-body" style="background-color:#F5F5F5">
				<%= form_tag("/reviews/#{@review.id}/edit",style: "text-align:center", method: 'get') do  %>
					<%= submit_tag "Edit", class: 'btn-primary btn-block'%>
				<% end %>
				<%= form_tag("/reviews/#{@review.id}",style: "text-align:center", method: 'delete', data: { confirm: "Are you sure?" }) do  %>
					<%= submit_tag "Delete", class: 'btn-primary btn-block'%>
				<% end %>

			</div>
		</div>

	</div>
</div>
</div>
</div>
</div>